<div class="navigate">
    <div class="nav-sidebar">
        <b class="sidebar-switch" ng-click="UI.sidebarFolded=!UI.sidebarFolded"><i class="icon-align-justify"></i></b>
        <ul>
            <li ng-repeat="item in $root.navs.modules" ng-class="{'active':UI.targetSidebar === item}" ng-click="changeSidebar(item)">
                <b><i ng-class="item.icon"></i></b><span ng-bind="item.text"></span>
            </li>
        </ul>
    </div>
    <nav class="nav-navbar">
        <div>
            <!--<div class="title" ng-bind="UI.targetSidebar.text"></div>-->
            <!--<ul>
                <li ng-repeat="item in UI.targetSidebar.items" ui-sref-active="active" ng-class="{'separator':item.separator}">
                    <b ui-sref="{{item.name}}" ui-sref-opts="{reload:true}">{{item.text}}<span ng-if="item.badge" style="padding:1px 3px; margin-left:5px;" class="label label-warning" bind-from="item.badge"></span></b>
                </li>
            </ul>-->
        </div>
        <!--<div class="sub" ui-sref-active="active">
            <div class="title back" ng-click="state.back(UI.targetNavbar.name)"><i class="icon-arrow-left"></i></div>
            <ul>
                <li ng-repeat="item in UI.targetNavbar.items" ng-class="{'active':state.includes(item.name),'separator':item.separator}">
                    <b ui-sref="{{item.name}}" ng-bind="item.text"></b>
                </li>
            </ul>
        </div>-->
    </nav>
    <!--<b class="sidebar-toggle" ng-class="{'inside':UI.navbarFolded}" ng-click="UI.navbarFolded=!UI.navbarFolded" ng-show="UI.navbarToggleVisible">
        <i class="glyphicon glyphicon-eject"></i>
    </b>-->
</div>